body {
	background-color: #000000;
	font-family: arial;
	font-weight: bold;
}

.container {
	background-color: #FFFFFF;
	width: 1500px;
	height: auto;
}

.menu {
	background-color: #F2E8FF;
}

/*menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DFC5FF;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #E7D4FF;
}
/*end menu*/

.footer {
	 background-color: #DFC5FF;
}

.login {
	margin-top: 40px;
	margin-bottom: 40px;
}

.regis {
	margin-top: 40px;
	margin-bottom: 40px;
}

.login_btn {
    text-decoration: none; 
    background-color: #CEB0FF;
    border: none; 
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 20px; 
    border-radius: 5px; 
    text-align: center;
    padding: 14px 115px;
}

.facebook_btn {
    text-decoration: none; 
    background-color: #89ACED;
    border: none; 
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 20px; 
    border-radius: 5px; 
    text-align: center;
    padding: 14px 95px;
}

.gmail_btn{
    text-decoration: none; 
    background-color: #FF7272; 
    border: none; 
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 20px; 
    border-radius: 5px; 
    text-align: center;
    padding: 14px 120px;
}

.register_btn {
    text-decoration: none; 
    background-color: #B989E6; 
    border: none; 
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 20px; 
    border-radius: 5px; 
    text-align: center;
    padding: 14px 102px;
}

.regis_submit_btn {
    text-decoration: none; 
    background-color: #B989E6; 
    border: none; 
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 20px; 
    border-radius: 5px; 
    text-align: center;
    padding: 14px 102px;
}

.setting {
    margin-top: 40px;
    margin-bottom: 40px;
}

.term_btn {
    text-decoration: none; 
    background-color: #B989E6; 
    border: none; 
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 20px; 
    border-radius: 5px; 
    text-align: center;
    padding: 14px 138px;
}

.policy_btn {
    text-decoration: none; 
    background-color: #B989E6; 
    border: none; 
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 20px; 
    border-radius: 5px; 
    text-align: center;
    padding: 14px 145px;
}

.rule_btn {
    text-decoration: none; 
    background-color: #B989E6; 
    border: none; 
    color: #FFFFFF; 
    cursor: pointer;
    font-size: 20px; 
    border-radius: 5px; 
    text-align: center;
    padding: 14px 200px;
}